<?php $categories = $this->getCategories(); ?>
<?php if(count($categories)>0): ?>
	<?php $_helper= Mage::helper('catalog/category'); ?>
	<div class="block block-layered-nav">
	    <div class="block-content">
			<dl id="narrow-by-list2" class="collassabile2">
				<dt><a href="<?php echo $_helper->getCategoryUrl($this->getMainCategory()) ?>"><span class="menu-collassabile"><?php echo $this->getMainCategory()->getName() ?></span></a></dt>
			</dl>
	    </div>
	    <div class="block-content">
	        <ul class="accordion accordion-style1 vertnav vertnav-side clearer">
	        <?php foreach($categories as $category): ?>
	        	<li class="nav-item level0 <?php if($this->isCurrentCategory($category)) echo 'item-active' ?>">
	        		<a href="<?php echo $_helper->getCategoryUrl($category) ?>"><span><?php echo $category->getName() ?></span></a>
	    		</li>
	        <?php endforeach; ?>
	        </ul>
	    </div>
	</div>
<?php endif; ?>
